{% extends "login_base.html" %}
{% load staticfiles%}
{% load bootstrap4 %}

{% block content %}

<br/>
<div class='col-sm-6 col-sm-offset-3'>	
  <div class="panel panel-primary transparency">
    <div class="panel-heading">
      <img src="{% static 'img/logo.png' %}" width="100%">
    </div>

    <div class="panel-body">
      
      <form method="POST" action="" enctype="multipart/form-data" novalidate>
	     {% csrf_token %}
        
        <div class="tab-pane fade active in">
          <br>
          {% bootstrap_field form.username %}
          {% bootstrap_field form.password %}
        </div>

        <div class="btn-group-horizontal col-lg-12">
          <div class='pull-right'>
            <a href="{% url 'signup' %}" class="btn btn-warning">
              <i class="fa fa-user"></i> Register
            </a>
            <button id="auth_btn" name="auth_btn" type="submit" class="btn btn-warning">
              <i class="fa fa-unlock" aria-hidden="true"></i> Login
            </button>
            <a href="{% url 'logout' %}" class="btn btn-warning">
              <i class='fa fa-undo'></i> Cancel
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}