{% extends "base.html" %}
{% load staticfiles%}
{% load bootstrap4 %}
{% load humanize %}
{% block javascript %}
  <script src="{% static 'js/vehicles.js' %}"></script>
{% endblock %}

{% block content%}

<div class="panel panel-primary transparency">
  <div class="panel-heading">
    <b>Downloads</b>
  </div>
  <div class="panel-body"> 
    <form id="insurer_filter_form" method="POST">
      {% csrf_token %}
      {% include 'mazintech/_downloads_filter.html' %}
      <div class="tab-content">
        <div id="downloads" class="tab-pane fade in active">
          {% include 'mazintech/_list_downloads.html' %}
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}