{% extends "base.html" %}
{% load staticfiles%}
{% load humanize %}
{% block javascript %}
  <script src="{% static 'js/Chart.min.js' %}"></script>
 
</script>

{% endblock %}
<style>

{% block style %}
  
{% endblock %}

</style>



{% block content%}

{% if user.is_mazintech_employee %}

<div class="alert alert-danger alert-dismissable">
  <a href="{% url 'logout' %}" class="close" data-dismiss="alert" aria-label="close">×</a>
  <i class="fa fa-exclamation-triangle"></i> <b>Your user profile does not have enough permisions to view this section of the system. Please contact the administrator !!!</b>
</div>

{% else %}


{% endif %}
    <div class="jumbotron row">
      <div class="col-sm-12">
        <h1 class="display-4">Today's Weather Forecast!</h1>
        <p class="lead">Most recent update of your local Weather from News24. </p>
        <span class="btn btn-success btn-lg">Min Temp: {{weather_now.min_temp}}</span>
        <span class="btn btn-danger btn-lg">Max Temp: {{weather_now.max_temp}}</span>
        <span class="btn btn-primary btn-lg">Rainfall: {{weather_now.rain}}</span>
        <span class="btn btn-warning btn-lg">Wind: {{weather_now.wind}}</span>
      </div>
    </div>

    <div class="panel panel-primary transparency">
  <div class="panel-heading">
    <b>Weather Schedule</b>
    <a href="{% url 'weatherapp:weather_data' %}" class="btn btn-warning btn-xs pull-right">Load</a>
  </div>
  <div class="panel-body">
    <div class="tab-content">      
      <div class="tab-pane fade in active">
        {% include 'weather/_weather_list.html' %}
      </div>
    </div>

  </div>
</div>
    
{% endblock %}