{% load staticfiles%}

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class=" row col-sm-12 col-sm-offset-0">
    <div class="navbar-header">
        <a href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" style="height:50px; cursor:pointer">
        </a>
    </div>
    <div class=" collapse navbar-collapse navbar-font" id="navbar">
        <ul class="nav navbar-nav">
          {% if not request.user.is_mazintech_employee %}
            <li class="nav-item"><a class="nav-link" href="{% url 'weatherapp:weather_list' %}">Weather Data</a></li>
            {% endif %}

            {% if request.user.is_superuser %}
                <li class="nav-item"><a class="nav-link" href="{% url 'users' %}">Users</a></li>
            {% endif %}

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" href="#">Welcome {{ request.user }}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
          </ul>
    </div>
  </div>
</nav>
