{% extends "base.html" %}
{% load staticfiles %}

{% load bootstrap4 %}
{% load humanize %}
{% block page_style %}
  <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-multiselect.min.js">
  </script>
  <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-multiselect.css" 
    type="text/css" />
  {{ block.super }}
{% endblock %}
{% block content%}
  
<div class="panel panel-primary transparency">
  <div class="panel-heading">
    <b>{% if user %}Edit {{ user.full_name|default_if_none:user.username }}:{% else %}Register User{% endif %}</b>
  </div>
  
  <div class="panel-body">
    
    <form method="POST" class="form-2" novalidate>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
      
      <div id="edit_fuel_card_tab_content" class="tab-content">
        <div class="tab-pane fade active in" id="details">
          <br>
          {% for field in form %}
          <div class='col-lg-6'>{% bootstrap_field field %}</div>
          {% endfor %}
        </div>        
      </div>

      <div class="btn-group-horizontal col-lg-12">
        <div class='pull-right'>
          <button type="submit" name="save" class="btn btn-primary">
            <i class='fa fa-floppy-o'></i> Save
          </button>
          <button type="submit" name="cancel" class="btn btn-primary">
          <i class='fa fa-undo'></i> Cancel
        </button>
        </div>
      </div>
      
    </form>
  </div>
</div>

{% endblock %}