{% extends "base.html" %}
{% load staticfiles%}
{% load bootstrap4 %}
{% load humanize %}

{% block content%}

<div class="panel panel-primary transparency">
  <div class="panel-heading">
    <b>{{title}}</b>
  </div>
  <div class="panel-body">
    <form id="user_filter_form" method="POST">
    {% csrf_token %}

    {% include 'users/widgets/_user_filter.html' %}
    
       
    <div class="tab-content">
      <div id="activeusers" class="tab-pane fade in active">
        {% include 'users/_list_users.html' with users=users total=users.count %}
      </div>      
    </div>
  </form>
  </div>
</div>
{% endblock %}