{% load el_pagination_tags %}
<table id="" class="table table-hover ">
  <tr>
    <th>Date</th>
    <th>Min Temp</th>
    <th>Max Temp</th>
    <th>Wind</th>
    <th>Rain</th>
  </tr>

  {% paginate weather_list %}
  {% for weather in weather_list %}

  <tr id=row_{{weather.id}}>   
    <td>{{ weather.weather_date}}</td> 
    <td>{{ weather.min_temp|default_if_none:"" }}</td> 
    <td>{{ weather.max_temp|default_if_none:"" }}</td>
    <td>{{ weather.wind|default_if_none:"" }}</td>
    <td>{{ weather.rain|default_if_none:"" }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan='13' style="text-align: center">
    <div class="center">
      <div class="pagination">
        {% show_pages %}
      </div>
    </div>
    </td>
  </tr>
</table>