{% load bootstrap4 %}

<div class="row">  
    <input name="filter" type="hidden">
    
    <div class='col-lg-3 pull-right'>
      <div class="pull-right">
        <button type="submit" name="search" class="btn btn-primary" title="Search"><i class="fa fa-search"></i> Search</button>
        {% if title == 'Fleet Administrators' %}
          <a href="{% url 'fleet_admins' 1 %}"  class="btn btn-primary" title="Clear Search"><i class="fa fa-search-minus"></i> Clear</a>
        {% else %}
          <a href="{% url 'users' %}"  class="btn btn-primary" title="Clear Search"><i class="fa fa-search-minus"></i> Clear</a>
        {% endif %}        
        <a href="{% url 'user_add' %}" class="btn btn-primary" title="Add User"><i class="fa fa-user-plus"></i> Add</a>
      </div>
    </div>
    <div class='col-lg-9'>
      {% for field in user_filter_form %}
        <div class='col-lg-3'>
          {% bootstrap_field field layout='inline' %}
        </div>
        {% endfor %}
    </div> 
    
</div>

